.vspace {
    margin-top: 1em;
}

#results {
    display: none;
}

#results a {
    cursor: pointer;
}

#results-error {
    display: none;
}

#results-list ul {
    margin-bottom: 0;
}

#status {
    display: none;
}
